#!/bin/sh
#
# Example pre-commit to run istioctl analyze on commit. To use, add to your git
# precommit hook via `ln -s ../../pre-commit.example .git/hooks/pre-commit`.
 
# Path to istioctl - replace with hardcoded path if you want to use a different binary.
ISTIOCTL=$HOME/bin/istioctl-master

if ! [ -x "$(command -v $ISTIOCTL)" ]; then
    echo "$ISTIOCTL command not found. Either add it to your path, or modify"
    echo "your pre-commit hook to specify the absolute path."
    exit 1
fi

$ISTIOCTL analyze -R cluster/ --use-kube=false --all-namespaces
