name: CI

on:
  pull_request:
    branches: 
    - master

jobs:
  analyze:
    name: Analyze (local)
    runs-on: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - uses: ./.github/actions/analyze
